.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;

    & a:last-child{
        color: #fff;
    }

    &__title {
        & span {
            color: rgba(124, 181, 24, 1);
        }
    }

    &__registration {
        margin-right: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    &__auth {
        background: rgba(251, 97, 7, 1);
        padding: 0.8rem 2rem;
        border: 1px solid black;
        cursor: pointer;
        transition: all 0.3s;
        font-weight: bold;
        font-size: 16px;
        border-radius: 15px;
    }

}