.services {
    &__wrapper {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 150px auto 200px;
        padding: 30px;
        border-radius: 15px;
        border: 1px solid black;

        & img {
            width: 117px;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 700;
    }

    &__reviews {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        & p {
            color: rgba(124, 181, 24, 1);
            font-weight: 700;
        }
    }

    &__review {
        display: flex;

        & p {
            margin: auto 0;
            color: rgba(0, 0, 0, 0.4);
        }

        & img {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }

    &__check {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        & img {
            width: 20px;
            margin-right: 5px;
        }

        & p {
            margin: auto 0;
        }
    }

    &__works {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        &__img {
            height: 137px;
        }
    }

    &__descr {
        margin-top: 10px;
        line-height: 20px;
        max-width: 706px;

        & p:first-child {
            margin-bottom: 15px;
        }
    }

    &__skills {
        margin-top: 30px;
    }

    &__all {
        font-weight: 550;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    &__write {
        text-align: center;
    }

    &__button {
        margin: 20px 0;
        font-weight: 700;
    }

}