.feedback {
    max-width: 1200px;
    margin: 123px auto 95px;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
    }

    &__text {
        margin-top: 30px;
        font-size: 20px;
    }
}